<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- pageTitle  %></title>
  <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/stayl.css">
</head>
<body dir="rtl">
  <div class="container">
    <div class="row mt-5">
      <div class="d-flex justify-content-center mt-5">
        <div class="card border border-0 shadow-sm rounded bg-light" style="width: 24rem;">
          <div class="card-body">
            <h5 class="card-title text-center h2">آرایشگاه زاوا</h5>
          
            <form class="m-2" action="/nobat/cansel" method="POST">
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">شماره همراه </label>
                <input type="tel" name="number" class="form-control" >
              </div>
              <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">شماره پیگیری </label>
                <input type="tel" name="nump" class="form-control" >
              </div>
         
              <button type="submit" class="btn btn-success w-100 mt-4">لغو نوبت</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/js/bootstrap.bundle.min.js"></script>  
</body>
</html>