<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page1</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stayl.css">
</head>
<body class="rtl">
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-center">ZAWA</h4>
					</div>
					<div class="card-body">
						<form action="/user/register" method="POST">
							<div class="mb-3">
								<label for="username" class="form-label">نام کاربری</label>
								<input type="text" name="username" class="form-control" id="username" required>
							</div>
							<div class="mb-3">
								<label for="number" class="form-label">شماره همراه</label>
								<input type="number" name="number" class="form-control" id="number" required placeholder=" ___ ____ ___ ___ 09">
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">رمز عبور</label>
								<input type="password" name="password" class="form-control" id="number" required placeholder="*** *** ***">
							</div>
              <div class="mb-3">
								<label for="password" class="form-label"> تکرار رمز عبور</label>
								<input type="password" name="configpassword" class="form-control" id="number" required placeholder="*** *** ***">
							</div>
							<button type="submit" class="btn btn-primary w-100  mt-5">ثبت نام</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
